.contact-main {
  padding-top: 100px;
  padding-left: 40px;
  text-align: center;
  padding-bottom: 4.5rem;
}
.socials-div {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
}
.card-div {
  margin-right: 45px;
}
.icon-center {
  text-align: center;
}
.icon-color{
  color: #9e9e9e;
}
