.nav-link-class {
  display: block;
  padding: 0.5rem 1rem;
  color: rgb(251, 3, 3);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  font-family: "Cairo", sans-serif;
  font-size: 1.1rem;
}
@media (prefers-reduced-motion: reduce) {
  .nav-link-class {
    transition: none;
  }
}
.nav-link-class:hover,
.nav-link-class:focus {
  color: #cca000;
}

.nav-link.active {
  color: #ffae00;
}

.nav-link-title {
  font-family: "Old Standard TT", serif;
  font-size: 1rem;
  color: #ffae00;
}

.ms-1 {
  margin-left: 0.25rem;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .navbar-toggler {
    transition: none !important;
  }
}
.navbar-toggler:hover {
  text-decoration: none !important;
}
.navbar-toggler:focus {
  text-decoration: none !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem !important;
}

.navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-toggler {
  color: rgba(255, 255, 255, 0.55);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler {
  padding: 0.75rem;
  font-size: 0.75rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 700;
}


