.about-main {
  padding-top: 100px;
  padding-left: 40px;
  padding-bottom: 4.5rem;
  margin-right: 10px;
}

.about-text {
  font-family: "Nunito Sans", sans-serif;
  text-align: justify;
  margin-right: 30px;
}
