.welcome-text {
  font-family: "Poppins", sans-serif;
  font-size: 54px;
  padding-left: 20px;
  padding-bottom: 4.5rem;
}

.introduction-main {
  padding-top: 100px;
  padding-left: 40px;
}

.introduction-description {
  /* width: 700px; */
  font-family: "Raleway", sans-serif;
  /* border-left: 6px solid green; */
  /* height: 85px; */
  font-size: 1.5rem;
}

/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
  .introduction-description {
    /* width: 700px; */
    font-family: "Raleway", sans-serif;
    /* border-left: 6px solid green; */
    /* height: 275px; */
    font-size: 1.5rem;
  }
}

.padding-left {
  padding-left: 20px;
}

.masthead {
  padding-top: 10rem;
  padding-bottom: 4.5rem;
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.8) 0%,
      rgba(92, 77, 66, 0.8) 100%
    ),
    url("/src/assets/fullsize/background_img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.masthead h1,
.masthead .h1 {
  font-size: 2.25rem;
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  .masthead p {
    font-size: 1.15rem;
  }
  .masthead h1,
  .masthead .h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .masthead h1,
  .masthead .h1 {
    font-size: 3.5rem;
  }
}
