.awards-title {
  font-family: "Labrada", serif;
  text-align: center;
  margin-right: 20px;
  font-weight: bold;
}
.awards-text {
  /* font-family: "Raleway", sans-serif; */
  font-family: "Source Serif Pro", serif;
}

.justify-content {
  text-align: justify;
  margin-right: 30px;
}